body {
    font-family: 'Poppins';
    margin: 20px;
    background-color: #fcf6f5;
}

h2 {
    padding-left: 10px;
}

#list-layout-btn, #board-layout-btn, #calendar-layout-btn {
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    top: 1px;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px -1px 4px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#list-layout-btn:hover, #board-layout-btn:hover, #calendar-layout-btn:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2), 0px -1px 6px rgba(255, 255, 255, 0.7);
    transform: translateY(-2px);
}

#list-layout-btn:active, #board-layout-btn:active, #calendar-layout-btn:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px -1px 4px rgba(255, 255, 255, 0.5);
    transform: translateY(1px);
}


#list-layout {
    background-color: #E8F3EB;
}

#list-layout-btn {
    background-color: #E8F3EB;
}

#calendar-layout-btn {
    background-color: #FFEFDD;
}

#calendar-layout {
    background-color: #FFEFDD;
}

#board-layout-btn {
    background-color: #C8E3FF;
}

#board-layout {
    background-color: #C8E3FF;
}


#layout-buttons {
    display: flex;
    margin-bottom: -1px; /* Bring buttons slightly into the container */
}

#calendar-prev, #calendar-next {
    background-color: #F5E0C9;
    border: none;
    padding: 10px;
}
.layout {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FFFBFA;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), -3px -3px 6px rgba(255, 255, 255, 0.5);
}

#add-task-btn {
    border-radius: 20px;
    background-color: #18223b;
    color: #FFFBFA;
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#add-task-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #18223b;
    color: #FFFBFA;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#add-task-modal button {
    border-radius: 20px;
}

#add-task-modal.show {
    display: block;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    padding: 10px;
    border-bottom: 1px solid #d0cece;
    border-radius: 5px;
    margin-bottom: 10px; 
    background-color: #fffbfa;
}
#board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Ensure tasks start from the left */
}


.board-task {
    background-color: #e6eef6;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.delete-btn-list {
    margin-left: 10px;
    border-radius: 50%;
    color: #18223b;
    width: 25px;
    height: 25px;
    border: 1.5px solid #18223b;
    background-color: transparent;
    cursor: pointer;
    float: right;
}

.delete-btn-board {
    border-radius: 50px;
    color: #18223b;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #18223b;
    background-color: transparent;
    float: right;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 5fr);
    gap: 5px;
    margin-top: 10px;
}

.calendar-days-of-week {
    display: contents;
    text-align: center;
    margin-bottom: 10px;
}

.calendar-header {
    text-align: center;
}

.calendar-days-of-week span {
    font-weight: bold;
    padding: 10px;
    background-color: #F5E0C9;
    border-radius: 5px;
}

.calendar-days {
    display: contents;
}

.calendar-day {
    padding: 30px;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
    position: relative;
}

.calendar-day .task {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    font-size: 12px;
    color: #333;
}
